@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* 컬러 스키마 */
:root {
  --border: oklch(0.922 0 0);
  --background: oklch(0.985 0 0);
  --element: oklch(1 0 0);
  --foreground: oklch(0.205 0 0);
}

.dark {
  --border: oklch(0.371 0 0);
  --background: oklch(0.205 0 0);
  --element: oklch(0.269 0 0);
  --foreground: oklch(0.922 0 0);
}

@theme inline {
  --color-border: var(--border);
  --color-background: var(--background);
  --color-element: var(--element);
  --color-foreground: var(--foreground);
}

/* 유틸리티 및 베이스 */
@layer utilities {
  .container {
    @apply mx-auto px-4 py-8;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-blue-500 to-fuchsia-500 bg-clip-text text-transparent;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
